/*  BODY  */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/*  HEADER  */
header {
  position: fixed;
  height: 69px;
  width: 100%;
  opacity: 0.9;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 20px;
}

nav span a {
  margin: 20px 10px;
  color: seashell;
  text-decoration: underline;
}

/*  MAIN    */
.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  align-items: center;
  background-color: black;
  width: 100%;
}
/*  FOOTER  */


/*  ALL   */
.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}
